@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


header{ /*indeholder nav og subheader*/ 
    margin-top: -110px;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px var(--shadow);
    font-size: .75rem;
    text-transform: uppercase;

}

nav{ /*nav-links inkl logo*/
    display: flex;
    padding: 0 40px;
    height: 80px;
    justify-content: space-between;
    align-items: center; /*centrerer cta*/
    background-color:var(--hvid);
}

nav a{
    display: flex;
    height: 80px;
    padding: 0 10px;
    align-items: center; /*centrerer top-nav*/
    justify-content: center;
    font-weight: 600;
    white-space: nowrap; /*ungår line-breaks*/
}

/* Hover-effekter på links m*/
nav li:hover{
    color: var(--orange);
    transition: all 0.1s ease 0.1s;
    box-shadow: inset 0 -4px 0 var(--gul);
}

#logo{
    height: 50px;
}

/*Call-to-action -knap: Besøg Havglimt*/
.cta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 180px;
    margin-left: 10px;
    background-image: linear-gradient(to right, var(--groen), var(--orange));
    border-radius: 50px;
    border: 1px solid var(--orange);
    box-shadow: inset 10px 0px 20px var(--orange), 0px 4px 4px var(--shadow);
}

.cta:hover{
    transition: all 0.1s ease-in-out 0.1s;
    box-shadow: inset -10px 0px 20px var(--groen), 0px 4px 4px var(--shadow);
    color: initial;
}

/*Burger*/
#toggle{
    display: none;
}

header label{ 
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

#nav-content{
    display: flex;
    align-items: center;
} 


.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    overflow: hidden; /*nødvendig for at linjerne ikke bliver for høje, og går op i nav'en og forstyrrer floet*/
    background-color: var(--blaa);
    width: 100%;
    height: 60px;
    z-index: 1;
}

.subnav-content a {
    line-height: 50;
}

.subnav-content li:hover {
    box-shadow: none;
}

.subnav:hover .subnav-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--hvid);
}


/*Blå stribe under headeren. Indeholder "breadcrumbs", "Find os" og "Åbningstider" */
#sub-header{
    height: 30px;
    background-color: rgba(var(--blaa2),80%);
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
    color: var(--hvid);
}

    


/* mobil-visning */
@media screen and (max-width:1024px){
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #logo-burger-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    header label{ 
        display: block;
    }

    #nav-content{
        display: none;
    }

    #toggle:checked ~ #nav-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--hvid);
        width: 100vw;
        padding: 25px 10% auto auto;
        min-height: 100vh;
    } 



}