@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


header{ /*indeholder nav og subheader*/ 
    position: sticky; /*bliver siddende i toppen*/
    top: 0;
    box-shadow: 0px 4px 4px var(--shadow);
    font-size: .75rem;
    text-transform: uppercase; /*automatisk blokbogstaver*/
    z-index: 5;
    max-height: min(100svh, 100dvh, 100vh); /*for at headeren ikke kommer til at blive højere end selve skærmen, men at man i stedet kan scrolle, hvis man har fået åbnet for mange undermenuer på én gang*/
    overflow-y: scroll;
    -ms-overflow-style: none;  /*Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /*Hide scrollbar for Firefox */
}
header::-webkit-scrollbar {/* Hide scrollbar for Chrome, Safari and Opera */
    display:none;
}

nav{ /*hele top-nav med checkbox, logo, burger, nav-links og cta-container*/
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.5rem;
    padding-inline: 2.5%; /*lidt mellemrum til kanten af skærmen*/
    background-color:var(--hvid);
    font-weight: 600;
}

#burger-toggle{
    display: none; /*toggle skal aldrig vises. Viser i stedet burger-label*/ 
}

#logo-burger-container{  /*aka det man ser i mobil-view*/
    width: 100%;
    display: flex;
    justify-content: space-between; /*logo og burger til hver sin side*/
    align-items: center; /*centrerer indhold vertikalt*/
    height: 5rem;
}
header #logo img{
    height: 3.5rem;
}
#burger{
    font-size: 2.5rem;
    cursor: pointer;/*indikerer, at man kan klikke på den*/
    font-weight: 500;
}


#nav-list-of-links{ /*"samling af midterste menupunkter, som også er dropdowns, samlet i en kasse for at kunne holde dem samlet ved brug af space-between i horisontal top-nav*/
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: end; /*højre-stillet navigation i mobil-view*/
    height: max-content;
}

.nav-item{ /*almene menupunkter med dropdowns*/
    display: flex;
    flex-direction: column;
    align-items: end; /*højre-stillet navigation i mobil-view*/
}

/*Call-to-action -knapper: Webshop og Besøg Havglimt*/
.box-of-ctas{ /*kasse til at holde knapperne samlet*/
    display: flex;
    flex-direction: column; /*stablet oven på hinanden i mobil-view*/
    gap: .5rem;
    margin-block-end: 1.5rem; /*nederste element i vertikal navigation - derfor lidt margin i bunden*/
}

.cta-container{/*styling af CTA'er */
    display: flex;
    align-items: center;/*holder teksten i midten af knappen*/
    justify-content: center;
    height: 3rem;
    width: 10rem;
    border-radius: 4px;
    box-shadow: 0px 4px 4px var(--shadow);
}
#header-besoeg{
    /*2x background med forskellige størrelser, giver mulighed for at lave gradient-border*/
    background: linear-gradient(to right, var(--groen), var(--orange)) padding-box, linear-gradient(to left, var(--groen), var(--orange)) border-box;
    border: 2px solid transparent; /*transparent border er en slags place-holder for gradient-border ovenfor*/
    box-shadow: inset 10px 0px 20px var(--orange),  var(--shadow);
    color: var(--sort);
    text-shadow: 0px 0px 4px var(--gul);
    transition: all 0.1s ease-in-out 0.1s;
}

#header-webshop{
    background: transparent;
    border: 2px solid var(--blaa); 
    border-radius: 4px;
    color: var(--blaa);
    transition: box-shadow 0.1s ease-in-out 0.1s;
}

#header-besoeg:hover{
    box-shadow: inset -10px 0px 20px var(--groen), 0px 2px 2px var(--shadow), inset 0px 2px 2px var(--shadow);
    color: var(--sort);
}

#header-webshop:hover{
    box-shadow: inset 0px 2px 2px var(--shadow);
    color: var(--sort);
}

#nav-list-of-links, .box-of-ctas{/*skjuler menuen indtil burger-toggle er checked*/
    display:none;
}

.subnav-list-of-links a:hover{
    color: var(--orange);
}

/*burger-funktionen - checkboxen kan selecte, menu indholdet, fordi de er søskende*/
#burger-toggle:checked +header #nav-list-of-links, 
#burger-toggle:checked +header .box-of-ctas{
    display: flex;
}

#overlay{
    display: none;
}

#burger-toggle:checked ~ #overlay{ /*gør at mobil-menuen lukkes, når der klikkes udenfor*/ 
    display: block; /*for at det kan fylde hele bredden og højde, da det normalt er et inline-element*/
    position: fixed; 
    z-index: 2;/*over main, men under headeren*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*Sub-navigation - Åbner og lukker ved tryk på checkbox-pil*/
#dansk-vinproduktion-toggle, 
#vin-guide-toggle, 
#gaver-toggle, 
#om-havblink-toggle{
    display: none;
}

.inline-label{/*Holder tekst og label på samme linje - de hopper på hver sin linje, hvis de ikke er i en kasse. + Styling*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.nav-item label{/*pil - label for checkbox*/
    font-size: 1rem;
    padding: .15rem .5rem;
    border-radius: 4px;
    background-color: var(--shadow);
    color: var(--blaa);
    cursor: pointer;
    transition: transform 0.1s ease-in-out 0.1s;
}
.doed-pil{ /*pil brugt i laptop-view, som ikke har nogen funktion, men blot indikerer at der er en dropdown - Derfor skjult i mobil-view*/
    display: none;
}

.subnav-list-of-links{
    display: none;/*vises ikke før checkbox-pil er checked*/
    /* height: fit-content; */
    align-items: end;
    }

.subnav-list-of-links a {
    line-height: 3rem;
}

/*hver checkbox åbner sin undermenu via sibling-combinator (~)*/
#dansk-vinproduktion-toggle:checked ~ .subnav-list-of-links, 
#vin-guide-toggle:checked ~ .subnav-list-of-links, 
#gaver-toggle:checked ~ .subnav-list-of-links, 
#om-havblink-toggle:checked ~ .subnav-list-of-links{
    display: flex;
    flex-direction: column;
}

/*roterer pil via next-sibling-combinator og derefter descendant combinator(+)*/
#dansk-vinproduktion-toggle:checked + div label, 
#vin-guide-toggle:checked + div label, 
#gaver-toggle:checked + div label, 
#om-havblink-toggle:checked + div label{
    transform: rotate(180deg);
}


/*............horisontal nav.........*/
@media screen and (min-width:64em){
header{
    max-height: revert;
    overflow-y: revert;
}

nav{ /*hele top-nav med checkbox, logo, burger, nav-links og cta-container*/
    flex-direction: row;/*for horisontal nav-bar*/
    padding-block-end: revert;
    /* height: 5rem; */
    justify-content: space-between; /*giver mellemrum mellem logo, dropdowns og CTAer*/
    align-items: center;
    gap: revert;
}

#nav-list-of-links{
    display: flex;
    flex-direction: row;
    gap: 0; /*gap er her erstattet af padding*/
} 

#logo-burger-container{
    display: contents; /*sørger for at boxens indhold vises (logoet), men padding osv skjules - smart fordi man ellers skulle til at nulstille padding igen i laptop-view*/ 
}

#burger{ 
    display: none;
}

.nav-item{
    display: flex;
    padding-inline: .75rem; /*padding på de enkelte elementer her i stedet for gap, for at linjen under linket kan brede sig mere, og så man går direkte fra en hover effekt til den næste, og ungår "huller" i flowet*/
}

.nav-item a{
    display: flex;
    height: 5rem;
    align-items: center; /*centrerer top-nav*/
    white-space: nowrap; /*ungår line-breaks*/
}

.nav-item label{
    display: none;
}

.subnav-list-of-links a:hover{
    color: var(--gul);
}

/* Hover-effekter på links m*/
.active, nav li:hover{
    transition: all 0.1s ease 0.1s;
    box-shadow: inset 0 -4px 0 var(--orange);
}

.nav-item:hover .subnav-list-of-links {/*submenuer vises horisontalt*/
    display: flex;
}

.box-of-ctas{
    display: flex;
    flex-direction: row;
    margin-block-end:0; 
}

#header-webshop{
    width: 6rem;
}

/*subnav*/
.subnav-list-of-links{
    display: none;
    position: absolute; /*absolute bruges her for selv at kunne bestemme form og placering af elementet - Hopper selv ned på ny linje, pga display:block, men position absolute gør at den kan fylde hele bredden, selvom den er "barn" af et mindre element*/
    left: 0;
    overflow: hidden; /*nødvendig for at linjerne ikke bliver for høje, og går op i nav'en og forstyrrer floet*/
    background-color: var(--blaa);
    box-shadow: inset 0 1px 4px var(--shadow);/*indre skygge, så det ligner at den er under headeren*/
    width: 100%;
    height: 5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--hvid);    
}

.nav-item:hover{
    display: block;
}  

.nav-item:hover .subnav-list-of-links {
    display: flex;
}  

.subnav-list-of-links li:hover{
    color: var(--gul);
    box-shadow: none;
}

/* .subnav-list-of-links a{
    line-height: 5rem;
} */

.doed-pil{
    display: inline;/*død pil vises i horisontal nav, for at indikere at det er en dropdown*/
    padding: .25rem;
}
}

/*................Sub-header/banner.............Blå stribe under headeren. Indeholder "Tilbage", "Find os" og "Åbningstider" */
#sub-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    background-color: var(--blaa2);
    padding: 0 2.5%;
    color: var(--hvid);
}

#sub-header a:hover{
  color: var(--gul);
}

.info{
    display: flex;
    gap: 1.5rem;
}

/*....................................................Footer.....................................................*/
footer{
    background-color: var(--blaa);
    color: var(--hvid);
}

.footer-grid{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#til-toppen{
    display: block;
    text-align: right;
}

footer > .flexbox{
    align-items: inherit;
}

#text-container-for-tablet{
    display: contents;
}

#some-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

footer iframe{
    aspect-ratio: 1/1;
    width: 100%;
}

@media screen and (min-width: 32em /*512px*/){
    footer .footer-grid{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 1.5rem;
    }

    footer #aabningstider, footer #adresse, footer #some, footer #smiliey-rapport{
        grid-column: span 4;
    }

    footer iframe{
        grid-column: span 8;
        width: 100%;
        aspect-ratio: 2/1;
    }
}

@media screen and (min-width:48em /*768*/){
    footer .footer-grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1.5rem;
    }

    footer #aabningstider, footer #adresse, footer #some, footer #smiliey-rapport{
        grid-column: span 4;
    }

    footer iframe{
        grid-column: 9/13;
        grid-row: 1/3;
        width: 100%;
        aspect-ratio: 1/1;
    }
}