            .bgimg {
                position: relative;
                opacity: 0.65;
                background-attachment: fixed;
                z-index: -1;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 400px;

            }
            #bgimg-1 {
                background-image: url(https://images.unsplash.com/photo-1659591061983-7332de19b78e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            }

            #bgimg-2 {
                background-image: url(https://plus.unsplash.com/premium_photo-1663127463790-67da91a818ed?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            }

            #bgimg-3 {
                background-image: url(https://images.unsplash.com/photo-1659591061983-7332de19b78e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            }

            #bgimg-4 {
                background-image: url(https://plus.unsplash.com/premium_photo-1663127463790-67da91a818ed?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            }

            #bgimg-5 {
                background-image: url(https://images.unsplash.com/photo-1659591061983-7332de19b78e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            }

            #bgimg-6 {
                background-image: url(https://images.unsplash.com/photo-1659591061983-7332de19b78e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            }

            #bgimg-7 {
                background-image: url(https://images.unsplash.com/photo-1659591061983-7332de19b78e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            }