/* Parallax scrolling */

.bgimg {
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;

}
#bgimg-1 {
    background-image: url(https://images.unsplash.com/photo-1602967217650-b8b1d1343609?q=80&w=2027&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bgimg-1 h1{
    text-align: center;
    color: var(--hvid);
    text-shadow: 0 2px 10px var(--sort);
    /* margin-top: 10vh; */
}

#bgimg-2 {
    background-image: url(https://images.unsplash.com/photo-1472352327492-9765783b74e1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#bgimg-3 {
    background-image: url(https://plus.unsplash.com/premium_photo-1726072362679-2b2023862024?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#bgimg-4 {
    background-image: url(https://images.unsplash.com/photo-1679418167231-5b0bd50e2536?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#bgimg-5 {
    background-image: url(https://plus.unsplash.com/premium_photo-1720539180341-f00762823a88?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#bgimg-6 {
    background-image: url(https://images.unsplash.com/photo-1659591061983-7332de19b78e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#bgimg-7 {
    background-image: url(https://images.unsplash.com/photo-1659591061983-7332de19b78e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.flexbox section{
  flex: 8 8 0;
}

#foelg-med{
    padding: 2rem 5% 4rem 5%;
}

#foelg-med figcaption{
    flex-direction: column;
}

#foelg-med .polaroid:hover{
    box-shadow: 0 6px 10px 0 var(--shadow);
}

@media screen and (max-width:768px){
    .flexbox{
        flex-direction: column;
    }
}

@media screen and (max-width:425px){
    .flexbox{
        flex-direction: column;
        align-items: center;
    }
}