
/* ....................forside................... */
/* Hero */
#hero-container {
    width: 100vw; /* Fylder hele bredden af skærmen */
    height: 90vh;
    overflow: hidden; /* Beskærer overskydende dele af videoen */
}

#hero-container img {
    width: 100vw; /* Fylder hele skærmbredden */
    height: auto; /* Bevarer aspektforholdet */
    height: 90vh;
    object-fit: cover; /* Beskærer video korrekt */
}


/* hero */

h1{font: 500 2rem/1.5 "Lora", serif; text-transform: uppercase; padding: 1rem;}

.flexbox section{
  flex: 8 8 0;
}
