
/* ....................forside................... */
/* Hero */
#hero-container {
    width: 100%; /* Fylder hele bredden af skærmen */
    height: 80vh;
    overflow: hidden; /* Beskærer overskydende dele af videoen */
}

#hero-container video {
    width: 100vw; /* Fylder hele skærmbredden */
    height: 80vh;
    object-fit: cover; /* Beskærer video korrekt */
}

#hero-container img {
  position: absolute;
  inset: 0;
  margin: auto; /*centrerer logoet*/
  width: min(70%, 32rem);
}

h1{font: 500 2rem/1.5 "Lora", serif; text-transform: uppercase; padding: 1rem;}

@media screen and (min-width: 32em /*512px*/) {
    .single{
      text-align: center;
      max-width: revert;
    }
    .single p{
      max-width: 60ch;
      margin-inline: auto;
    }
}