@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*.................. RESET CSS............. */

/* *{
    border: 0.05rem solid lightgray;
    border-collapse: collapse; 
} */

*{
/* for easier box-styling*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/* forced font personalization */
    /* font: inherit; */
}


/* min body height */
body {
    min-height: 100vh;
    margin-top: 80px;
}


/* responsive images/videos */
img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* avoid ugly pre-styled links, lists and buttons*/
li, a, button{
    text-decoration: none;
    list-style: none;
    color: inherit;
}


/*..................GENEREL STYLES.............*/
/* Farver */
:root{
  --orange:#f6a902;
  --gul:#fec912;
  --groen:#a6be47;
  --mango:linear-gradient(to right, var(--groen), var(--orange));
  --blaa:#194d62;
  --blaa2:25, 77, 98;
  --hvid:#fffff0;
  --sort:#303030;
  --shadow:#3030302e;
}

body{
    background-color:var(--hvid); /* lys baggrund */
    overflow-x: hidden;/* undgå horisontal scroll-bar */
    font-family: 'inter', Arial, Helvetica, sans-serif;/* Inter/sans-serif som standard typografi*/
}

main{
    line-height: 1.5;
    margin:0 auto;
}

main a {
    color: var(--orange);
}

main a:hover{
    color: var(--gul);
}