@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*.................. RESET CSS............. */

/* *{
    border: 0.05rem solid lightgray;
    border-collapse: collapse; 
} */

*{
/* for easier box-styling*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/* forced font personalization */
    /* font: inherit; */
}


/* min body height */
body {
    min-height: 100vh;
    margin-top: 80px;
}


/* responsive images/videos */
img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* avoid ugly pre-styled links, lists and buttons*/
li, a, button{
    text-decoration: none;
    list-style: none;
    color: inherit;
}


/*..................GENEREL STYLES.............*/

/* Farver der genbruges mange steder kan bestemmes og ændres her*/
:root{
  --orange:#f6a902;
  --gul:#fec912;
  --groen:#a6be47;
  --mango:linear-gradient(to right, var(--groen), var(--orange));
  --blaa:#194d62;
  --blaa2:25, 77, 98;
  --hvid:#fffff0;
  --sort:#303030;
  --shadow:#3030302e;
}

/* Typografi */
body{ font: 400 0.875rem/1.5 "Inter", sans-serif;}
header{font: 400 0.75rem/1.5 "Inter", sans-serif;}
h1{font: 400 4rem/1.5 "Lora", serif; text-transform: uppercase;}
h2{font: 700 2rem/1.5 "Lora", serif; text-transform: uppercase}
h3{font: 700 1rem/1.5 "Lora", serif;}
blockquote{font: italic 700 1rem/1.5 "Lora", serif;}
figcaption{font: 800 0.875rem/1.5 "Inter", serif; letter-spacing: 20%;}




body{
    background-color:var(--hvid); /* lys baggrund */
    overflow-x: hidden;/* undgå horisontal scroll-bar */
}

main{
    line-height: 1.5;
    margin:0 auto;
}

main a {
    color: var(--orange);
}

main a:hover{
    color: var(--gul);
}

.texture{
    background-image:url(https://images.unsplash.com/photo-1601662528567-526cd06f6582?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.single{
    text-align: center;
    padding: 30px 5%;
}

.single p{
    justify-self: center;
    max-width: 600px;
}


