@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*.................. RESET CSS............. */

/* *{
    border: 0.05rem solid lightgray;
    border-collapse: collapse; 
} */

*{
/* for easier box-styling*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* min body height */
body {
    min-height: 100vh;
}


/* responsive images/videos */
img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* avoid ugly pre-styled links, lists and buttons*/
li, a, button{
    text-decoration: none;
    list-style: none;
    color: inherit;
}


/*..................GENEREL STYLES.............*/

/* Farver der genbruges mange steder kan bestemmes og ændres her*/
:root{
  --orange:#f6a902;
  --gul:#fec912;
  --groen:#a6be47;
  --mango:linear-gradient(to right, var(--groen), var(--orange));
  --blaa:#194d62;
  --blaa2:25, 77, 98;
  --hvid:#fdfdf5;
  --sort:#303030;
  --shadow:#3030302e;
}

/* Typografi */
body{ font: 400 0.875rem/1.5 "Inter", sans-serif;}
header{font: 400 0.75rem/1.5 "Inter", sans-serif; text-transform: uppercase;}
h1{font: 400 3.5rem/1.5 "Lora", serif; text-transform: uppercase; padding: 1rem 0;}
h2{font: 500 2rem/1.5 "Lora", serif; text-transform: uppercase; padding: 1rem 0;}
h3{font: 700 1rem/1.5 "Lora", serif; padding: .5rem 0;}
blockquote{font: italic 700 1rem/1.5 "Lora", serif;}
figcaption{font: 800 0.75rem/1.5 "Inter", serif; letter-spacing: .2em;}


body{
    background-color:var(--hvid); /* lys baggrund */
    overflow-x: hidden;/* undgå horisontal scroll-bar */
    margin-top: 80px;
}

main{
    margin:0 auto;
}

main a, footer a {
    color: var(--orange);
}

main a:hover, footer a:hover{
    color: var(--gul);
}

.texture{
    background-image:url(https://images.unsplash.com/photo-1601662528567-526cd06f6582?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.waves{
    background-color: var(--hvid);
    background-image: url(assets/green-waves.svg);
}

.single{
    text-align: center;
    padding: 2rem 5% 4rem 5%; /*giver lidt white-space omkring teksten*/ 
}

.single p{
    justify-self: center;
    max-width: 72ch; /*sikrer at tekst-feltet ikke bliver for bredt (60 tegn)*/
    text-align: center;
    text-wrap: pretty; /*undgår at et enkelt ord bliver efterladt på en linje for sig selv - måske ikke alle browsere, der kender udtrykket*/
}



.fitty-fitty{
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
    align-items: center;
    margin: auto; /*giver lidt white-space omkring teksten*/ 
    padding: 2rem 5% 4rem 5%;
}

.fitty-fitty-text{
    max-width: 60ch; /*sikrer at tekst-feltet ikke bliver for bredt (60 tegn)*/
    min-width: 40ch;
    flex: 2 1 0;
}

.polaroid{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    padding: 1rem;
    aspect-ratio: 4/5;
    background-color: var(--hvid);
    box-shadow: 0 4px 4px 0 var(--shadow);
    border: 1px solid var(--shadow);
}

.polaroid img{
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px solid var(--shadow);

}

.polaroid figcaption{
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
}