@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* border: dotted 1pt lightgray; */
}

a {
    color: inherit;
}

html, body {
    background-color: #FFFFF1;
    width: 100%;
    height: 100%;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #303030;
    margin:0 auto;
}

header{
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px #3030302e;
    height: 70px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}


nav{
    display: flex;
    align-items: center;
    text-align: center;
}

#logo{
    height: 40px;
}

.menu-option{
    padding: 24px 20px;
    border-bottom: 4px solid transparent ;
}

.menu-option:not(.cta):hover{
    border-bottom: 4px solid #fec912;
    transition: all 0.1s ease 0.1s;
}

.cta{
    background-image: linear-gradient(to right, #A6BE47, #F6A902);
    border: 1px solid #FEC912;
    border-radius: 25px;
    padding: 10px;
}

.cta:hover{
    background-image: linear-gradient(to right, #A6BE47, #FEC912);
    transition: all 0.5s ease 0.5s;
}

#toggle{
    display: none;
}

header label{
    display: none;
}

@media screen and (max-width:800px){
    nav{
        display: none;
    } 

    header label{ 
        display: block;
    }
}